:root {
    --bg_main:#0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange:#ff8c00;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    
}
button{
    cursor: pointer;
}

input{
    -webkit-appearance: none;
    text-align: center;
    position: relative;
    margin-left: 900px;
}
button,
input{
    border: none;
    background: none;
    outline: none;
    color: inherit;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
body{
  font-family: sans-serif;
  background: var(--bg_main);
  color: var(--text_dark);
  padding: 50px;
}
.top-banner {
    color: var(--text_light);
}
.heading{
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 0.02rem;
    padding: 0 0 30px 0;
    text-align: center;
    margin: 120px;
}
.top-banner form {
    position: relative;
    display: flex;

 
}
.top-banner form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
   
}
.top-banner form input::placeholder {
    color: currentColor;

}
.top-banner form button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 15px 2px;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--red);
}
.top-banner form button:hover{
    background: var(--darkred);
   
}
.top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
 
}





/* @media  screen and (max-width:700px){
    .top-banner form {
        flex-direction: column;
    }
    .top-banner form input,
    .top-banner form button {
        width: 100%;
    }
    .top-banner form button {
        margin: 20px 0 0 0;
    }
    .top-banner form .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 10px;
    }
} */








/* body {
    font-family: sans-serif;
    background: midnightblue;
    color: var(text_dark);
    padding: 50px;
    text-align: center;
    margin: 300px;

}
*{
    margin :0;
    padding: 0;
    /* box-sizing dolgu ve kenarlık ekliyor */
    /* box-sizing: border-box; 
    font-weight: normal; */
/* }
button {
    cursor: pointer;
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 60px;

}
h1{
    color: white;
    font-size: 100px;

}

 input{
    -webkit-appearance: none;
    border: none;
    background: none;  
    outline: none;
    color: white;
    height: 50px;
}  */ 
